<!DOCTYPE html>
<html>
  <head>
    <title>GroupEats</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>GroupEats</h1>
    <p>Welcome to GroupEats!</p>
  </body>
</html>
