.sitename {
  float: left;
  display: inline;
}
.login {
  float: right;
  display: inline;
}
.content {
  clear: left;
  display: block;
}
.info {
  float: left;
  clear: left;
  display: inline;
}
.signup {
  float: left;
  clear: left;
  display: block;
}
a {
  color: #00B7FF;
}
.ui {
  height: 500px;
  width: 500px;
}
